* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  

.body {
    height: 100vh;
    display: flex;
  }

  
  .header {
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
  }
  
  .main {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .footer {
    background-color: violet;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
  }
  
  .center{
      display: flex;
      align-items: center;
      justify-content: center;
  }

.container{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between
}
.leftpanel{
    border: 1px solid black ;
    width: 50%;
}
  