<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Document</title>
</head>
<body>
    <header class="header"> Header</header>
    <nav class="navigation">Navegation Bar</nav>
    <div class="container">
        <aside class="panel">Left Panel</aside>
        <main class="main">Main Content</main>
        <aside class="panel">Right Panel</aside>
    </div>

    <footer class="footer">Footer</footer>
</body>
</html>